<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>ورود | Mehran Gateway</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >

</head>

<body class="center">

    <div class="card login">

        <h1>
            Mehran Gateway
        </h1>

        <p>
            ورود به پنل مدیریت
        </p>

        <form
            method="post"
            action="/login"
        >

            <input
                name="password"
                type="password"
                placeholder="رمز مدیریت"
                required
            >

            <button type="submit">
                ورود
            </button>

        </form>

    </div>

</body>

</html>